<br>

<table border="1" style="border-style:solid;">
    <tr>
        <td align="center" colspan="2"><img [src]="image" height="10" width="15"><span>Employee Details</span>
        </td>
    </tr>

  <tr>
    <td>Employee Id</td>
    <td>{{id}}</td>
  </tr>
  <tr>
    <td>Employee Name</td>
    <td>{{name}}</td>
  </tr>
  
  <tr>
    <td>Employee Job</td>
    <td>{{job}}</td>
  </tr>
  
  <tr>
    <td>Employee Salary</td>
    <td>{{salary}}</td>
  </tr>
  <tr>
    <td>Employee Department No</td>
    <td>{{deptNo}}</td>
  </tr>

</table>
